{% extends 'base.html' %}

{% block content %}
<h1 class="text-center mb-3">Active Polls:</h1>
{% if latest_question_list %}
{% for question in latest_question_list %}
<div class="row g-4 text-center">
    <div class="col">
        <div class="card text-dark bg-info mb-3 mt-4">
            {%if question.poll.name %}
                Poll Title -  {{question.poll.name}}
                {%else%}
                Poll Title missing
            {%endif%}

            <div class="card-header">{{ question.question_text }}</div>

            <div class="card-body">
                <a href="{% url 'polls:detail' question.id %}" class="btn btn-primary btn-sm">Vote Now</a>
                <a href="{% url 'polls:results' question.id %}" class="btn btn-secondary btn-sm">Results</a>
            </div>
            <div class="card-footer">
                Last update 
                <small class="text-muted">{{question.pub_date}}</small>
            </div>
        </div>
    </div>
</div>
{% endfor %}
{% else %}
<p>No polls available</p>
{% endif %}
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}