{% extends 'base.html' %}

{% block content%}

<div class="text-center">
  <div class="card-header mb-3 mt-3">Pick a question: Add a choice</div>
</div>
<form action="{% url 'users:quizsearch' %}" method="GET" class="d-flex mb-2">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"  name="search_quiz">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>
<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for question in questions %}
    <div class="col">
      <div class="card border-success">
        <div class="card-body">
            <div class="card-header text-success ">Question ID: {{question.id}}
            </div>
            
          <h5 class="card-title mt-2">
            <a href="{% url 'users:create_poll_choice' question.id%}"
            class="btn btn-primary btn-sm">{{question.question_text}}</a>
            <div class="mt-3">
              <a href="{% url 'users:edit_questions' question.pk%}"
              class="btn btn-primary btn-sm">Edit Question</a>
              <a href="{% url 'users:delete_question' question.pk%}"
              class="btn btn-primary btn-sm mx-4">Delete Question</a>
            </div>

          </h5>
        </div>
        <div class="card-footer bg-transparent border-success">
            <p class="card-text"><small class="text-muted">Last update: {{question.pub_date}}</small></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{%endblock%}