{% extends 'base.html' %}

{% block content%}
<div class="card-header mb-3 mt-3">Pick a Poll: Add a question
  <div class="text-success">Total Polls: {{count}}</div>
</div>
<form action="{% url 'users:pollsearch' %}" class="d-flex mb-2" method="GET">
  <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" name="search_poll">
  <button class="btn btn-outline-success" type="submit">Search</button>
</form>

<div class="row row-cols-1 row-cols-md-2 g-4">
    {% for poll in polls %}
    <div class="col">
      <div class="card border-success">
        <div class="card-body">
            <div class="card-header text-success mb-2">Poll ID: {{poll.id}}</div>
          <h5 class="card-title mt-2">
            <a href="{% url 'users:create_poll_quiz' poll.id%}"
            class="btn btn-primary btn-sm">{{poll.name}}</a>
            <div class="mt-3">
              <a href="{%url 'users:edit_poll_name' poll.id %}"
              class="btn btn-primary btn-sm">Edit Poll</a>
              <a href="{%url 'users:delete_poll_name' poll.pk%}"
              class="btn btn-primary btn-sm">Delete Poll</a>
            </div>
          </h5>
        </div>
        <div class="card-footer bg-transparent border-success">
            <p class="card-text"><small class="text-muted">Last update: {{poll.pub_date}}</small></p>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
{%endblock%}