{% extends 'base.html' %}
{% block content %}

{% if form.errors %}
<ul>
  {% for e in form.non_field_errors %}
  <li>{{e}}</li>
  {% endfor %}
  {% for e in form.field_errors %}
  <li>{{e}}</li>
  {% endfor %}
</ul>
</p>
{% endif %}

{% if next %}
{% if user.is_authenticated %}
<p>Your account doesn't have access to this page. To proceed,
  please login with an account that has access.</p>
{% else %}
<p>Please login to see this page.</p>
{% endif %}
{% endif %}
<div class="card border-warning mb-3" style="width: 30rem;">
  <div class="card-body">
    <div class="card-header border-warning mb-3">Change Password</div>
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit" class="btn-success">Save changes</button>
      <div class="card-footer border-warning mt-3">
        <small class="text-muted">
          <a href="{% url 'users:login'%}" class="card-link">Back to login <span style='font-size:20px;'>&#128072;</span></a>
        </small>
      </div>
    </form>
  </div>
</div>
{% endblock %}