{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Create Question{% endblock %}
{% block content %}
{{form.errors}}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Create A Question</h3>
            </div>
            <form action="" method="POST">
              {% csrf_token %}
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="name">Poll Title</label>
                                {% render_field form.question_text class="form-control" %}
                                
                            </div>
                        </div>
                        
                    <div class="row">
                        <hr />
                        <div class="col-lg-4">
                            <button type="submit" class="btn btn-info">Submit</button>
                            <a href="{% url 'users:available_polls'%}" class="btn btn-info ">Available Polls</a>
                            <a href="{% url 'users:available_questions'%}" class="btn btn-info ">Available Questions</a>

                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<h1>{{obj.question_text}}</h1>
{% endblock %}