{% extends "base.html" %}
{% load widget_tweaks %}

{% block title %}Create Quiz{% endblock %}

{% block content %}
<div class="card border-info mb-3 mt-4" style="width: 25rem;">
    <div class="card-body justify-content-end">
        <div class="card-header bg-transparent border-info mb-3">Delete This Question <span style='font-size:20px;'>&#128071;</span></div>
        <form method="post">
            {% csrf_token %}
            <p>Are you sure you want to delete "{{ question.question_text }}"?</p>
            {{ form }}
            <input class="btn btn-warning" type="submit" value="Confirm">
        </form>
  </div>
{% endblock %}