{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<ul>
  {% for e in form.non_field_errors %}
  <li>{{e}}</li>
  {% endfor %}
  {% for e in form.field_errors %}
  <li>{{e}}</li>
  {% endfor %}
</ul>
 </p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %} 
    <div class="container">
        <form action="{% url 'users:login' %}" method="post">
            {% csrf_token %}
            <div class="row">
            <div class="col-md-8 col-md-offset-2 card shadow-lg border-0 rounded-lg">
                <div class="card-header justify-content-center">
                    <div id="error_div"></div>
                  <h3 class="font-weight-light my-4 text-center">Login</h3>
                <div class="panel panel-default">
                    <div class="panel-body">
                        {% if error_message %}
                            <p class="bg-danger p-d ml-b">{{ error_message }}</p>
                        {% endif %}
                        <div class="form-group ">
                            <label for="username" class="control-label text-left">Username:</label>
                            <div class="">
                                <input name="username" value="" type="text" class="form-control form-control-lg" />
                            </div>
                        </div>
                        <div class="form-group ">
                            <label for="password" class="control-label text-left">Password:</label>
                            <div class="">
                                <input name="password" type="password" class="form-control" />
                            </div>
                        </div>
                        <div class="col-md-8 col-md-offset-2 mb-1">
                            <input name="login" type="submit" value="Login" class="btn btn-success" /> &nbsp;
                        </div>
                        <a href="{% url 'users:password_reset' %}">Forgot Password?</a>
                    </div>
                </div>
            </div>
        </div>
        </form>
    </div>

{% endblock %}