{% extends "base.html" %}

{% block content %}

{% if form.errors %}
<ul>
  {% for e in form.non_field_errors %}
  <li>{{e}}</li>
  {% endfor %}
  {% for e in form.field_errors %}
  <li>{{e}}</li>
  {% endfor %}
</ul>
 </p>
{% endif %}

{% if next %}
    {% if user.is_authenticated %}
    <p>Your account doesn't have access to this page. To proceed,
    please login with an account that has access.</p>
    {% else %}
    <p>Please login to see this page.</p>
    {% endif %}
{% endif %}
    <div class="card border-info mb-3" style="width: 25rem;">
        <div class="card-body">
            <div class="card-header bg-transparent border-info mb-3">Login Here <span style='font-size:20px;'>&#128071;</span></div>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <button type="submit">Login</button>
          </form>
          <div class="card-footer bg-transparent border-info mt-2">
            <a href="{% url 'users:password_reset' %}">Forgot Password?</a>
          <a href="{% url 'users:change_password' %}">Update Password?</a>
        </div>
      </div>
{% endblock %}