{% extends "base.html" %}
{% load widget_tweaks %}
{% block content %}
    <div class="card border-info mb-3 mt-4" style="width: 25rem;">
        <div class="card-body justify-content-end">
            <div class="card-header bg-transparent border-info mb-3">Login Here <span style='font-size:20px;'>&#128071;</span></div>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <button type="submit">Login</button>
          </form>
          <div class="card-footer bg-transparent border-info mt-2">
            <a href="{% url 'users:password_reset' %}">Forgot Password?</a>
          <a href="{% url 'users:change_password' %}">Update Password?</a>
        </div>
      </div>
{% endblock %}