{% extends 'polls/index.html' %}
{% load widget_tweaks %}


{% block content %}
      <div class="card border-info mb-3 mt-4" style="width: 35rem;">
        <div class="card-body">
            <div class="card-header bg-transparent border-info mb-3">Register Here <span style='font-size:20px;'>&#128071;</span></div>
          <form method="post">
            {% csrf_token %}
            {{ form.as_p}}
            <button type="submit">Register</button>
          </form>
          <div class="card-footer bg-transparent border-info mt-2">
          <a href="{% url 'users:login'%}" class="card-link">Already have an account <span style='font-size:20px;'>&#128073;</span></a>
        </div>
      </div>
{% endblock %}




