{% extends 'base.html' %}
{% block content %}
 

<div class="container justify-content-end">
<div class="card border-success mb-3 mt-5 text-center" style="max-width: 35rem;">
    <div class="card-header">Welcome To Extramile Pollster!</div>
    <div class="card-body text-success">
      <h5 class="card-title">This is an Polling Web Application built with Django</h5>
    </div>
    <div class="card-footer border-warning mt-3">
        <small class="text-muted">
            <a class="btn btn-dark" href="{% url 'users:register' %}">
                View Available Polls</a>
            </small>
      </div>
    </div>
{% endblock %}